.main_vid{
    min-width: 100%; 
    min-height: 100%; 
  
    /* Setting width & height to auto prevents the browser from stretching or squishing the video */
    width: auto;
    height: auto;
  
    /* Center the video */
  
    top: 50%;
    left: 50%;
    /* transform: translate(-50%,-50%);  */
  }
  